# -----------------------------------------------------------------------------
# gkgen
# -----------------------------------------------------------------------------

.chart/
base/
build/

# Override environments
.makerc

# Helm package
*.tgz
