# -----------------------------------------------------------------------------
# gkgen
# -----------------------------------------------------------------------------

.chart/
base/
build/

# Environments
.env

# Helm package
*.tgz
