node_modules

# ---------------------------------------------------------
# gkgen
# ---------------------------------------------------------

.chart/
base/
dist/

# Make env from yaml
.make.env

# Registry username & password
.makerc

# Helm package
*.tgz

# ---------------------------------------------------------
# Project
# ---------------------------------------------------------
example/
