REGISTRY := docker.io
REGISTRY_REPO := ezconnect
REGISTRY_USERNAME := ezconnect
REGISTRY_PWD :=

HELM_REPO := freemind
NAMESPACE := dev

SSH_DESTINATION := dev@0.0.0.0
KUBECTL_CMD := /snap/bin/microk8s kubectl
HELM_CMD := /snap/bin/microk8s helm3
